In [17]:
# ==========================================
# TASK 2 - FULL SQL IMPLEMENTATION
# Dataset Path: /content/cleaned_data.csv
# ==========================================

import pandas as pd
import sqlite3

# ------------------------------------------
# 1. Load CSV
# ------------------------------------------

df = pd.read_csv("/content/cleaned_data.csv")

# Basic Cleaning (Professional Step)
df = df.dropna(subset=["CustomerID"])
df = df[df["Quantity"] > 0]
df = df[df["UnitPrice"] > 0]

if "Total_Sales" not in df.columns:
    df["Total_Sales"] = df["Quantity"] * df["UnitPrice"]

# ------------------------------------------
# 2. Create SQLite Database
# ------------------------------------------

conn = sqlite3.connect("sales_database.db")
cursor = conn.cursor()

df.to_sql("sales", conn, if_exists="replace", index=False)

print("✅ Table 'sales' created successfully")

# ------------------------------------------
# 3. BUSINESS SQL QUERIES
# ------------------------------------------

queries = {

"Top 5 Countries by Revenue":
"""
SELECT Country,
       SUM(Total_Sales) AS Total_Revenue
FROM sales
GROUP BY Country
ORDER BY Total_Revenue DESC
LIMIT 5;
""",

"Top 10 Products by Revenue":
"""
SELECT Description,
       SUM(Total_Sales) AS Revenue
FROM sales
GROUP BY Description
ORDER BY Revenue DESC
LIMIT 10;
""",

"Monthly Revenue Trend":
"""
SELECT strftime('%Y', InvoiceDate) AS Year,
       strftime('%m', InvoiceDate) AS Month,
       SUM(Total_Sales) AS Monthly_Revenue
FROM sales
GROUP BY Year, Month
ORDER BY Year, Month;
""",

"Total Orders per Country":
"""
SELECT Country,
       COUNT(DISTINCT InvoiceNo) AS Total_Orders
FROM sales
GROUP BY Country
ORDER BY Total_Orders DESC;
""",

"Average Order Value":
"""
SELECT AVG(Total_Sales) AS Avg_Order_Value
FROM sales;
""",

"Top 5 Customers by Spending":
"""
SELECT CustomerID,
       SUM(Total_Sales) AS Total_Spent
FROM sales
GROUP BY CustomerID
ORDER BY Total_Spent DESC
LIMIT 5;
""",

"Products with Highest Quantity Sold":
"""
SELECT Description,
       SUM(Quantity) AS Total_Quantity
FROM sales
GROUP BY Description
ORDER BY Total_Quantity DESC
LIMIT 10;
"""
}

# ------------------------------------------
# 4. Execute All Queries
# ------------------------------------------

for title, query in queries.items():
    print("\n====================================")
    print(title)
    print("====================================")

    result = pd.read_sql(query, conn)
    display(result)

# ------------------------------------------
# 5. Close Connection
# ------------------------------------------

conn.close()
print("\n✅ All queries executed successfully")

✅ Table 'sales' created successfully

====================================
Top 5 Countries by Revenue
====================================

          Country  Total_Revenue
0  United Kingdom   7.285025e+06
1     Netherlands   2.854463e+05
2            EIRE   2.652625e+05
3         Germany   2.286784e+05
4          France   2.089343e+05

====================================
Top 10 Products by Revenue
====================================

                          Description    Revenue
0         PAPER CRAFT , LITTLE BIRDIE  168469.60
1            REGENCY CAKESTAND 3 TIER  142264.75
2  WHITE HANGING HEART T-LIGHT HOLDER  100392.10
3             JUMBO BAG RED RETROSPOT   85040.54
4      MEDIUM CERAMIC TOP STORAGE JAR   81416.73
5                             POSTAGE   77803.96
6                       PARTY BUNTING   68785.23
7       ASSORTED COLOUR BIRD ORNAMENT   56413.03
8                              Manual   53419.93
9                  RABBIT NIGHT LIGHT   51251.24

====================================
Monthly Revenue Trend
====================================

    Year Month  Monthly_Revenue
0   2010    12       570422.730
1   2011    01       568101.310
2   2011    02       446084.920
3   2011    03       594081.760
4   2011    04       468374.331
5   2011    05       677355.150
6   2011    06       660046.050
7   2011    07       598962.901
8   2011    08       644051.040
9   2011    09       950690.202
10  2011    10      1035642.450
11  2011    11      1156205.610
12  2011    12       517190.440

====================================
Total Orders per Country
====================================

                 Country  Total_Orders
0         United Kingdom         16646
1                Germany           457
2                 France           389
3                   EIRE           260
4                Belgium            98
5            Netherlands            94
6                  Spain            90
7               Portugal            57
8              Australia            57
9            Switzerland            51
10               Finland            41
11                 Italy            38
12                Sweden            36
13                Norway            36
14       Channel Islands            26
15                Poland            19
16                 Japan            19
17               Denmark            18
18               Austria            17
19                Cyprus            16
20           Unspecified             8
21             Singapore             7
22               Iceland             7
23                Canada             6
24                   USA             5
25                 Malta             5
26                Israel             5
27                Greece             5
28             Lithuania             4
29    European Community             4
30  United Arab Emirates             3
31        Czech Republic             2
32               Bahrain             2
33          Saudi Arabia             1
34                   RSA             1
35               Lebanon             1
36                Brazil             1

====================================
Average Order Value
====================================

   Avg_Order_Value
0          22.6315

====================================
Top 5 Customers by Spending
====================================

   CustomerID  Total_Spent
0     14646.0    280206.02
1     18102.0    259657.30
2     17450.0    194390.79
3     16446.0    168472.50
4     14911.0    143711.17

====================================
Products with Highest Quantity Sold
====================================

                          Description  Total_Quantity
0         PAPER CRAFT , LITTLE BIRDIE           80995
1      MEDIUM CERAMIC TOP STORAGE JAR           77916
2   WORLD WAR 2 GLIDERS ASSTD DESIGNS           54319
3             JUMBO BAG RED RETROSPOT           46078
4  WHITE HANGING HEART T-LIGHT HOLDER           36706
5       ASSORTED COLOUR BIRD ORNAMENT           35263
6     PACK OF 72 RETROSPOT CAKE CASES           33670
7                      POPCORN HOLDER           30919
8                  RABBIT NIGHT LIGHT           27153
9             MINI PAINT SET VINTAGE            26076

✅ All queries executed successfully